
.note-div{
    background-color: rgb(167, 246, 220);
    box-shadow: 0 2px 5px #ccc;
    width: 240px;
    margin:16px;
    padding:10px;
    border-radius: 7px;
}
.note-head{
    font-size:1.1em;
    margin-bottom: 6px;
}
.note-body{
    font-size: 1.1em;
    margin-bottom: 10px;
    white-space:pre-wrap;
    word-wrap:break-word
    
}
.note-list{
    margin-left: 0;
}